body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
#language-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ff4500
    font-size: 1rem;
}

#language-switch a {
    color: #FFA500; 
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

#language-switch a:hover {
    text-decoration: underline;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
  color: white;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
  color: black;
  
}


#landing {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
}

.landing-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

#bgVideo {
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}
#bghome {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#company-logo {
    width: 250px;
    height: 250px;
}

.kebab-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 100;
  font-size: 24px;
}

.kebab-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.kebab-icon:hover {
  color: rgb(228, 112, 22);
}

.menu-list {
  display: none;
  position: absolute;
  background-color: #ff4500;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  right: 0;
  padding: 10px;
  z-index: 1000;
  border: 1px solid #ddd;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
}

.menu-list a {
  color: rgb(250, 250, 250);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.menu-list a:hover {
  background-color: #ff4500;
}

.menu-list.show {
  display: block;
}

#about {
    padding: 40px;
    text-align: center;
    background-color: #eee;
}

#question {
    padding: 40px;
    text-align: center;
    background-color: #ff4500;
}
#blog {
  padding: 40px;
  text-align: left;
  background-color: #fffbfb;
}
#vejret {
  padding: 40px;
  text-align: center;
  background-color: #eee;
}

#stolpe {
  width: 250px;
  height: 250px;
}

#lob {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.lobs-grid {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  flex-wrap: nowrap;
  gap: 20px;
}

.lob-card {
  width: 300px; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
  margin-bottom: 20px;
}

.lob-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.lob-card:active,
.lob-card:focus {
    background-color: transparent;
}

.lob-card img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 5px;
}

.lob-card p {
    margin-top: 10px;
    font-weight: 500;
}


#mine-lob {
  padding: 40px;
  text-align: center;
  background-color: #eee;
}

.mine-lob-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  justify-items: center; 
}

.mine-lob-item {
  width: 400px;  
  height: 400px; 
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.mine-lob-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mine-lob-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mine-lob-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347;
    cursor: pointer;
}
.fullscreen button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent sort baggrund */
  border-radius: 50%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fullscreen button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen button#prev {
  left: 20px;
}

.fullscreen button#next {
  right: 20px;
}

#galleri {
  padding: 40px;
  text-align: center;
  background-color: #eee;
}

.galleri-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  justify-items: center; 
}

.galleri-item {
  width: 300px;  
  height: 300px; 
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.galleri-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.galleri-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galleri-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#my-section {
    color: rgb(10, 1, 1);
    text-align: center;
    font-size: large;
    background-color: #eee;
    padding: 20px; 
  }
  
  #my-section .bold {
    font-weight: bold; 
  }
  
  #my-section .italic {
    font-style: italic; 
  }
  
  #my-section .underline {
    text-decoration: underline; 
  }
  
  #my-section .highlight {
    color: #ff4500;
    font-weight: bold; 
  }
  
.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    gap: 10px; 
}

.response-button {
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.response-button:hover {
    background-color: #45a049; /* Mørkere grøn ved hover */
}

footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #fff;
}


#social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

#social-links a {
    margin: 0 10px;
    text-decoration: none;
}

#social-links img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s;
}

#social-links img:hover {
    transform: scale(1.2);
    }

#social-links a:nth-child(1) img {
    width: 30px;
    height: 30px;
}


/* Mobile Styles */
@media only screen and (max-width: 768px) {
    
    body {
        font-size: 14px; 
    }

    #landing {
        height: 50vh; 
    }

    
    #about, #lob, #mine-lob {
        padding: 20px; 
    }
    .lobs-grid {
      display: flex;
      flex-direction: column; 
      align-items: center;
      width: 100%; 
      gap: 20px; 
  }

  .lob-card {
      width: 90%; 
      margin-bottom: 20px; 
      display: flex;
      justify-content: center;
  }

  .lob-card img {
      width: 100%; 
      height: 250px; 
      object-fit: cover; 
      border-radius: 5px;
  }

    .mine-lob-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      align-items: center;
    }

    .mine-lob-item {
        width: 90%;
        height: 150px; 
        margin-bottom: 20px; 
    }

    .mine-lob-item img {
        max-width: 100%; 
    }
    button {
        width: 100%; 
        padding: 15px; 
    }

        footer {
        padding: 15px;
        font-size: 12px; 
    }

    
    #social-links img {
        width: 35px; 
        height: 35px;
    }
    
    .galleri-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
    }

    .galleri-item {
      width: 100%; 
      height: 200px; 
    }
  }
